* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-size: 58px;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  color: #031B4E;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  color: #031B4E;
}

p {
  font-size: 20px;
  line-height: 150%;
  color: #5b6987;
}

.ms_smallbox_p {
  font-size: 15px;
}

.ms_nopad {
  padding: 0;
}

.container,
.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}



/* Header */

/* Nav */

.ms_navbar {
  margin-bottom: 0;
  height: 80px;
  background: #fff;
  border: none;
  line-height: 80px;
}

.ms_navbar_brand {
  padding: 15px 0;
}

.ms_navbar_left {
  margin-left: 10%;
}

.ms_navbar_list > li > a {
    line-height: 80px;
    display: inline;
}

#logo img {
  height: 50px;
}

#menu-left {
  background: #06d628;
  height: 80px;
}

#menu-right {
  background: #06a3d6;
  height: 80px;
}

/* Jumbotron */

.ms_jumbo {
  background: #062dd6;
  background-image: url('../img/jumbo_bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin-top: 80px;
}

.ms_jumbo_text {
  padding: 50px 90px 70px 0;
}

.ms_jumbo_text p {
  color: #fff;
}

.ms_jumbo_form {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.ms_jf_title {
  font-size: 30px;
  font-weight: 700;
}

.ms_jft_first {
  color: #031B4E;
}

.ms_jft_sec {
  color: #006aff;
  margin-bottom: 30px;
}

.ms_btn {
  display: block;
  width: 100%;
  text-align: center;
  margin: 8px 0;
  border: none;
  font-weight: bold;
}

.ms_btn_create {
  background: #579aff;
  color: #fff;

}

.ms_btn_google {
  background: #fff;
  color: #444;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.ms_jft_terms {
  font-size: 13px;
  margin-top: 20px;
}

.ms_jft_terms a {
  text-decoration: underline;
}

/* Main */

/* Sections */


section, footer {
  padding: 50px 0;
}

.ms_bg_grey {
  background: #F3F5F9;
}

.ms_bg_white {
  background: #fff;
}

.ms_bg_sh_blue {
  background: linear-gradient(180deg, rgba(0,77,212,1) 0%, rgba(1,53,145,1) 100%);
}

/* Companies */

#companies h4 {
  font-size: 14px;
  color: #C3C4C6;
}

.ms_cl_container .ms_comp_logo:first-child {
  padding-left: 0;
}

.ms_cl_container .ms_comp_logo:last-child {
  padding-right: 0;
}

.ms_comp_logo {
  display: inline-block;
  margin: 25px 0;
  padding: 0 10px;
  width: calc((100% - 20px) / 6);
}

.ms_comp_logo img {
  width: 100%;
}

.ms_cust_stories p {
  font-size: 15px;
  color: #579aff;
}

/* Deploy */

.ms_deploy_mt {
  margin-top: 40px;
}

#deploy .ms_deploy_list ul {
  border-left: 1px solid #999;
  list-style: none;
  padding: 10px 15px;
  font-size: 18px;
  color: #031B4E;
}

#deploy .ms_deploy_list ul li:not(li:first-child) {
  margin: 15px 0;
}

#deploy .ms_deploy_block img {
  height: 50px;
  width: 50px;
}

#deploy .ms_deploy_block p {
  font-size: 15px;
}

/* Designed */

#designed .ms_designed_slider {
  margin: 40px auto;
}

#designed .ms_designed_slider img {
  width: 350px;
  margin: 0 20px;
}

.fa-chevron-left {
  color: #999;
}

.fa-chevron-right {
  color: #031B4E;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 25px;
  vertical-align: middle;
}

.ms_designed_controller {
  list-style: none;
  margin: 30px auto;
}

.ms_circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 3px;
}

.ms_c_full {
  background: #579aff;
}

.ms_c_outline {
  border: 2px solid #579aff;
}

/* Features */

.ms_feature_block {
  margin: 20px 0;
}

.ms_feature_block:first-child {
  padding-left: 0;
}

.ms_feature_block:last-child {
  padding-right: 0;
}

/* Regions */

#regions h2 {
  color: #fff;
}

.ms_regions_list {
  margin: 20px 0;
}

.ms_regions_list hr {
  margin: 0;
}

.ms_regions_list:first-child {
  padding-left: 0;
}

.ms_regions_list:last-child {
  padding-right: 0;
}

.ms_regions_row {
  padding: 12px;
}

.ms_regions_row p {
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.ms_region_code p {
  font-weight: 800;
}

.ms_region_name p {
  color: #ccc;
}

.ms_region_test a {
  color: #579aff;
  font-weight: 800;
}

/* Teams */

.ms_dev_slider {
  margin: 40px auto;
}

.ms_dev_slider img {
  width: 350px;
  margin: 0 20px;
}

.ms_dev_controller {
  list-style: none;
  margin: 30px auto;
}

.ms_dsl_box {
  display: inline-block;
  background: #fff;
  padding: 50px 25px;
  border-radius: 15px;
  width: 600px;
  margin: 0 20px;
  vertical-align: middle;
}

.ms_dsl_box img {
  width: 250px;
}

.ms_dsb_quote {
  margin: 30px 0;
}

.ms_dsl_box h5,
.ms_dsb_jobpos {
  font-size: 15px;
  color: #031B4E;
}

.ms_dsl_box h5 {
  font-weight: 600;
}

.ms_dsb_jobpos {
  margin: 0;
}

/* Start */

#start h2 {
  color: #fff;
}

#start .ms_start_btn {
  color: blue;
}

/* Footer */

footer {
  background: #031c4e;
}

footer .ms_ft_block {
  height: 500px;
  background: lightblue;
  margin: 20px 0;
}
