* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 36px;
  color: #031B4E;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  color: #031B4E;
}

p {
  font-size: 20px;
  line-height: 150%;
  color: #5b6987;
}

/* Header */

/* Nav */

.ms_navbar {
  margin-bottom: 0;
  height: 80px;
  background: #fff;
  border: none;
  line-height: 80px;
}

.ms_navbar_brand {
  padding: 15px 0;
}

.ms_navbar_left {
  margin-left: 10%;
}

.ms_navbar_list > li > a {
    line-height: 80px;
    display: inline;
}

#logo img {
  height: 50px;
}

#menu-left {
  background: #06d628;
  height: 80px;
}

#menu-right {
  background: #06a3d6;
  height: 80px;
}

/* Jumbotron */

.ms_jumbo {
  background: #062dd6;
  background-image: url('../img/jumbo_bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 80px;
}

.ms_jumbo_text {
  background: rgba(0, 0, 0, 0.3);
  height: 500px;
}

.ms_jumbo_form {
  background: rgba(0, 0, 0, 0.6);
  height: 500px;
}

/* Main */

/* Sections */


section, footer {
  padding: 50px 0;
}

.ms_bg_grey {
  background: #F3F5F9;
}

.ms_bg_white {
  background: #fff;
}

.ms_bg_sh_blue {
  background: linear-gradient(180deg, rgba(0,77,212,1) 0%, rgba(1,53,145,1) 100%);
}

/* Companies */

#companies h4 {
  font-size: 14px;
  color: #C3C4C6;
}

#companies .ms_comp_logo {
  height: 70px;
  background: #aaa;
  margin: 35px 0;
}

/* Deploy */

#deploy .ms_deploy_list {
  height: 200px;
  background: lightgreen;
}

#deploy .ms_deploy_block {
  height: 300px;
  background: lightblue;
}

#deploy .row > div {
  margin: 20px 0;
}

/* Designed */

#designed .ms_designed_slider {
  height: 300px;
  width: 350px;
  background: lightblue;
  margin: 40px auto;
}

#designed .ms_designed_controller {
  height: 15px;
  width: 60px;
  background: cyan;
  margin: 20px auto;
}

/* Features */

#features .ms_feature_block {
  height: 200px;
  background: lightblue;
  margin: 20px 0;
}

/* Regions */

#regions {
  color: #fff;
}

#regions h2 {
  color: #fff;
}

#regions .ms_region_list {
  height: 300px;
  background: #fff;
  margin: 20px 0;
}


/* Teams */

#teams .ms_development_slider {
  height: 300px;
  width: 350px;
  background: lightblue;
  margin: 40px auto;
}

#teams .ms_development_controller {
  height: 15px;
  width: 60px;
  background: cyan;
  margin: 20px auto;
}

/* Start */

#start h2 {
  color: #fff;
}

#start .ms_start_btn {
  color: blue;
}

/* Footer */

footer {
  background: #031c4e;
}

footer .ms_ft_block {
  height: 500px;
  background: lightblue;
  margin: 20px 0;
}
